*{
    box-sizing: border-box;
}

html{
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #C6C6C6;
}



#logo{
    width: 127px;
}

.user-profile-pic-style{
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.user-post-info{
   padding: 0.5rem 1rem;
   display: flex;
   align-items: center;
}

.user-profile-img{
    margin-right: 0.5rem;
}

.picture{
    width: 100%;
}

h2{
    font-size: 13px;
    font-weight: 900;
}

.location{
    font-size: 12px;
    margin-top: 0.2rem;
}

.social-icons{
    display: flex;
    width: 100px;
    justify-content: space-between;
    
}

.social-icon{
    width: 25px;
    transition: transform .7s ease-in-out;
}

.social-icon:hover{
    transform: rotate(360deg);
}

.user-interaction{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
}

.likes{
    margin:0.5rem 0rem;
    font-size: 13px;
    font-weight: 900;
}

.comment{
    font-size: 13px;
}

.user{
    font-weight: 900;
}

.post-space{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}