*{
    box-sizing: border-box;
}

html{
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #C6C6C6;
}

#logo{
    width: 127px;
}

.user-profile-pic-style{
    width: 34px;
    height: 34px;
    border-radius: 50%;
}